aside {
    float: left;
    width: 200px;
    height: 480px;
}

section {
    float: left;
    width: 480px;
    height: 480px;
    background:#ddd;
}

.box {
    width: 200px;
    height: 160px;
    font-size:100px;
    background-color: #0CF;
}

.box:hover {
    background-color: #36F;
    cursor: pointer;
}

.ch_bg {
    background-color: #36F;
}

.content {
    width: 480px;
    height: 480px;
    background-color: #F60;
    display: none;
}
