html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(173, 195, 217)
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 3em 3em;
    position: sticky;
    top: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    font-size: 1.2em;
    color: black;
    gap: 20px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: black;
    font-size: 0.8em;
    transition: color 0.4s;
}

nav a:hover {
    color: cornflowerblue;
}

nav a.active {
    color: cornflowerblue;
}

main {
    width: 100%;
}

.projects-section {
    max-width: 700px;
    margin: 60px auto;
    padding: 40px 60px;
    border-radius: 10px;
}

.projects-section h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
    color: #004aad;
}

.projects-section > p {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 80px;
    color: black;
}

.projects-category {
    margin-bottom: 50px;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.5em;
}

.category-header h2 {
    font-size: 2em;
    color: #000000;
    padding-left: 12px;
    margin-bottom: 1.5em;
}

.projects-item {
    margin-bottom: 5em;
    background-color: white;
    box-shadow: 0 24px 28px rgba(0,0,0,0.1);
    padding: 2.5em;
}

.projects-item h3 {
    margin-bottom: 0.5em;
    font-size: 18px;
    font-weight: bold;
}

.company {
    font-size: 14px;
    color: #666;
    margin: 4px 0 8px;
}

.company-hover {
    color: #000000;
    margin: 4px 0 10px;
}

.company-hover:hover {
    color: cornflowerblue
}

.description {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}