aside {
    float: left;
    width: 200px;
    height: 480px;
}

section {
    float: left;
    width: 480px;
    height: 480px;
    background:#ddd;
    overflow: hidden;
}

.box {
    width: 200px;
    height: 160px;
    font-size:100px;
    background-color: #0CF;
}

.box:hover {
    background-color: #36F;
    cursor: pointer;
}

.ch_bg {
    background-color: #36F;
}

.big {
    width: 1440px;
}

.content {
    position: relative;
    float: left;
    width: 480px;
    height: 480px;
    background-color: #F60;
    /* display: none; */
}

.pink {
    background-color: #F3C;
}

.yel {
    background-color: #FF0;
}
